body{
    background-color: #ffff;
}
input[type = range]{
-webkit-appearance: none;
background: transparent;
cursor: pointer;
width: 15rem
}
input[type = range]::-webkit-slider-runnable-track{
    background-image: url("143-rainbow.jpg");
}
