/*
body{
    background-color: #ff0fd3;
}
input[type = range]{
webkit-appearance: none;
}
input[type = range]::-webkit-slider-runnable-track{
    width:500px;
}
*/
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 20px;
    height: 100px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
